@model AdoptaPatitaMVC.Models.Mascota

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mascota</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Raza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Raza)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tamanio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tamanio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Esterilizado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Esterilizado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Historia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Historia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagen1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagen2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagen3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Refugio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Refugio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MascotaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
