@model AdoptaPatitaMVC.Models.Mascota


@{
    ViewData["Title"] = "Conoceme!";
}

<h1>¡Hola, me llamo @Html.DisplayFor(model => model.Nombre)!</h1>

<div class="infoBasica">
    <div class="img-principal">
        <img id="imgPrincipal" class="img-principal" src=@Model.Imagen1 alt="Imagen_Principal">
    </div>
    <div class="datosMascota">
        <h4>Datos básicos</h4>
        <div class="datosBasicos mb-2">
            <span class="dato-bold">Raza: </span><span>@Html.DisplayFor(model => model.Raza)</span><br>
            <span class="dato-bold">Color: </span><span>@Html.DisplayFor(model => model.Color)</span><br>
            <span class="dato-bold">Sexo: </span><span>@Html.DisplayFor(model => model.Sexo)</span><br>
            <span class="dato-bold">Edad: </span><span>@Html.DisplayFor(model => model.Edad)</span><br>
            <span class="dato-bold">Peso: </span><span>@Html.DisplayFor(model => model.Peso)</span><br>
            <span class="dato-bold">Tamaño: </span><span>@Html.DisplayFor(model => model.Tamanio)</span><br>
            <span class="dato-bold">Esterilizado: </span><span>@Html.DisplayFor(model => model.Esterilizado)</span><br>
        </div>
        <hr>
        <h4>Un poco sobre mi</h4>
        <div class="datosExtra">
            <p>@Html.DisplayFor(model => model.Descripcion)</p>
        </div>
    </div>
</div>
<hr>
<div class="historiaMascota">
    <h4>Mi historia</h4>
    <p>@Html.DisplayFor(model => model.Historia)</p>
</div>



<div>
    <a asp-action="Index" class="btn btn-primary">Regresar a la lista</a>
</div>
