<!--model IEnumerable<AdoptaPatitaMVC.Models.Mascota>-->

@model AdoptaPatitaMVC.Models.BusquedaMascotaViewModel

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "Lista de mascotas";
}

@section Estilos{
    <link rel="stylesheet" href="~/css/estilos-adopta.css" />
}

<h1>Lista de mascotas</h1>

@if(SignInManager.IsSignedIn(User) && !User.IsInRole("AdoptanteRole")){
    <p>
        <a asp-action="Create">Agregar una mascota</a>
    </p>
}

<div id="contenido col-sm-12">
    <!-- Filtro  -->
    <div id="cont-izq" class="col-sm-3">
        <div class="card">
            <div class="card-header estilo-titulo">
                Filtro de búsqueda
            </div>
            <div class="card-body estilo-tarjeta">
                <form id="frmFiltro" name="frmFiltro" asp-controller="Mascotas" asp-action="Index" method="get">
                    <label for="cbTamanio">Tamaño: </label>
                    <select id="cbTamanio" class="form-control col-sm-11" asp-for="TamanioMascota" asp-items="Model.Tamanios">
                        <option value="">Cualquiera</option>
                    </select><br>
                    <label for="cbSexo">Sexo: </label>
                    <select id="cbSexo" class="form-control col-sm-11" asp-for="SexoMascota" asp-items="Model.Sexos">
                        <option value="">Cualquiera</option>
                    </select><br>
                    <label for="cbEdad">Edad: </label>
                    <select id="cbEdad" class="form-control col-sm-11" asp-for="EdadMascota" asp-items="Model.Edades">
                        <option value="">Cualquiera</option>
                    </select>
                    <br>
                    <button id="btnFiltro" type="submit"> Buscar </button>
                </form>
            </div>
        </div>
    </div>

    <div id="cont-der" class="col-sm-8">
        <div class="card-deck">
            @foreach (var item in Model.Mascotas)
            {
                <div id="tarjeta" + @item.MascotaId class="card tarjeta-perfil col-sm-4">
                    <img src="~/imgMascotas/@item.ImagenURL" class="card-img-top" alt="Foto de perfil" />
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                        <p class="estilo-caracteristica">Sexo: </p>
                        <p class="estilo-res">@Html.DisplayFor(modelItem => item.Sexo)</p><br>
                        <p class="estilo-caracteristica">Edad: </p>
                        <p class="estilo-res">@Html.DisplayFor(modelItem => item.Edad)</p>
                        <a asp-action="Details" asp-route-id="@item.MascotaId" class="btn btn-primary">Detalles</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
