@model IEnumerable<AdoptaPatitaMVC.Models.Refugio>

@{
    ViewData["Title"] = "Index";
}

@section Estilos{
    <link rel="stylesheet" href="~/css/estilos-adopta.css" />
}

<h1>Lista de refugios</h1>

<div class="container col-sm-8">
    <div class="card-deck">
        @foreach (var item in Model)
        {
            <div id="tarjeta" + @item.RefugioId class="card tarjeta-perfil col-sm-4">
                <img src="~/images/refugio-icono.jpg" class="card-img-top" alt="Foto de perfil" />
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                    <p class="estilo-caracteristica">Dirección: </p>
                    <p class="estilo-res">@Html.DisplayFor(modelItem => item.Direccion)</p><br>
                    <p class="estilo-caracteristica">Teléfono: </p>
                    <p class="estilo-res">@Html.DisplayFor(modelItem => item.Telefono)</p>
                    <a asp-action="Details" asp-route-id="@item.RefugioId" class="btn btn-primary">Detalles</a>
                </div>
            </div>
        }
    </div>
</div>
