@model IEnumerable<AdoptaPatitaMVC.Models.RegistroAdopcion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mascota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adoptante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAdop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnumProceso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mascota.MascotaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adoptante.AdoptanteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAdop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnumProceso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RegistroAdopcionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RegistroAdopcionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RegistroAdopcionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
